body {
    font-family: Helvetica, Times, serif;
    overflow-x: hidden;
}

header {
    background: #a6282e;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    border-bottom: 1px solid #a6282e;
    text-align: center;
}

footer {
    padding: 4px;
    text-align: center;
}

.navigation .locations,
.navigation .tags {
    display:inline-block;
    padding: 8px;
}
.navigation .nav-submit {
    display:inline-block;
    padding: 10px;
    margin-left: 10px;
}

.pagination {
    border-top: 1px solid #a6282e;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.thing {
    border-bottom: 1px solid #a6282e;
    padding: 20px;
}

.tag {
    background-color: #b13549;
    color: white;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    margin-top: 4px;
    display: inline-block;
}

.added {
    opacity: 0.5;
}

input[type=text], select {
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    display: inline-block;
    background-color: #b13549;
    color: white;
    padding-top: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b47e85;
}

label {
    display: inline-block;
}