{% extends "base.html" %}


{% block nav %}
<form action="{% url 'index' %}" method="get">
    <div class="navigation">
        <div class="locations">
            {{locations}}
        </div>
        <div class="tags">
            {{tags}}
        </div>
        <input type="submit" value="Find a Thing" class="nav-submit" />
    </div>
</form>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&location={{selected_location}}&tag={{selected_tag}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&location={{selected_location}}&tag={{selected_tag}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&location={{selected_location}}&tag={{selected_tag}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&location={{selected_location}}&tag={{selected_tag}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}


{% block main %}
{% for thing in page_obj %}
    <div class="thing">
        <h2>{{ thing.title }}</h2>
        <p>{{ thing.description }}</p>
        <p><a href="{{ thing.link }}" target="_blank">website</a></p>
        <p class="added"><small>Added {{ thing.date_added }}</small></p>
        {% for tag in thing.tag.all %}
            <div class="tag"><a href="?location={{selected_location}}&tag={{tag.id}}">{{tag}}</a></div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}