{% extends "base.html" %}


{% block nav %}
<form action="{% url 'index' %}" method="get">
    <div class="navigation">
        <div class="locations">
            {{locations}}
        </div>
        <div class="tags">
            {{tags}}
        </div>
        <input type="submit" value="Find a Thing" class="nav-submit" />
    </div>
</form>
{% endblock %}


{% block main %}
{% for thing in things %}
    <div class="thing">
        <h2>{{ thing.title }}</h2>
        <p>{{ thing.description }}</p>
        <p><a href="{{ thing.link }}" target="_blank">website</a></p>
        <p class="added"><small>Added {{ thing.date_added }}</small></p>
        {% for tag in thing.tag.all %}
            <div class="tag">{{ tag }}</div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}